<p><strong>Title:</strong>

	<%= @article.title %>

</p>

<p><strong>Text:</strong>
	<%= @article.text %>
</p>

<p><%= link_to 'Article List', articles_path %>

<%= link_to 'Main Page', welcome_index_path %></p>