<section class='footer'>
  <div class='row'>
    <div class='col-md-4'>
      <div class='col-md-12'>
        <h4>General Info</h4>
        <hr>
        <h5>Address Line 1</h5>
        <h5>Address Line 2</h5>
        <h5>Address Line 3</h5>
        <hr>
      </div>
    </div>
    <div class='col-md-4 darker'>
      <div class='col-md-12'>
        <h4>Social</h4>
        <hr>
        <h5>Facebook</h5>
        <h5>Twitter</h5>
        <h5>Instagram</h5>
      </div>
    </div>
    <div class='col-md-4 dark'>
      <div class='col-md-12'>
        <h4>Subscribe</h4>
        <hr>
          <form class="form-inline mt-2 mt-md-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Input Your Email" aria-label="Email" style="margin-bottom:10px; width: 100%">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Submit</button>
          </form>
      </div>
    </div>
  </div>


</section>