.footer{
  background-color: #acc9c7;
  min-height: 10rem;
}

.col-md-4{
  min-width: 10rem;
  padding: 0;
  margin: 0;
}

.darker{
  background-color: #6ea09d;
}

.dark{
  background-color: #458581;
}