.navbar{
  /*background-color: gray;*/
}

.nav-link{

}

.nav-item a{
  font-weight: bold;
}

.nav-item a:hover{
  color: #ffffff !important;
}

.navbar-toggler{
  border: 2px solid #ffffff !important;
}