.navbar{
  /*background-color: gray;*/
}

.nav-link{

}

#active_nav-link{
  color: #d3d3d3 !important
}

.active_nav-link{
  color: gray !important
}

.nav-item a{
  font-weight: bold;
}

.nav-item a:hover{
  color: #ffffff !important;
}

.navbar-toggler{
  border: 2px solid #ffffff !important;
}